/*pubsOnTap.module.css */

@media screen and (min-width:1000px) {
    ::-webkit-scrollbar{
        width: 8px;
    }
    
    ::-webkit-scrollbar-track{
        border-radius: 100vw;  
    }
    
    ::-webkit-scrollbar-thumb{
        border-radius: 100vw;
        background: rgba(0, 0, 0, 0.366);
    }
    
    ::-webkit-scrollbar-thumb:hover{
        background: hsl(0, 0%, 100%);
    }
}

.expanded-project {
    position: fixed;
    width: 90vw;
    height: 90vh;
    background: rgba(179, 11, 11, 0.6);
    backdrop-filter: blur(20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 2em 1em 1em 1em;
    border: 1px solid rgb(255, 255, 255);
    z-index: 8;
    cursor: auto;
    border-radius: 20px;
    transition: 0.3s;
    animation-name: slidein;
    animation-duration: 0.2s;
    animation-fill-mode: backwards;
    transform-origin: 50vw 50vh;
}

@keyframes slidein {
    0%{
        scale: 0.01;
    }
    100%{
        scale: 1;
    }  
}

.hidden-project {
    display: none;
}

.top {
    position: relative;
    top: 0.5em;
    width: 100%;
    min-height: 2em;
    text-align: center;
    padding-bottom: 30px;
}

.projects-close-button.expanded-project-close-button {
    position: absolute;
    left: 0.75em;
    background: none;
    border: none;      
    cursor: pointer;
}

.expanded-project-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%; /* Ensure it fills the container */
    height: 90%; /* Ensure it fills the container */
    border: 2px solid red;
    margin: 0;
    padding: 0; /* Remove padding */
    overflow: auto; /* Ensure scrolling if needed */
    max-width: 60em;
}

.expanded-project-body * {
    border: 1px solid blue;
}

.debug-item {
    background-color: lightgrey;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}